body {
  background-color: #fea49f;
}

.table,
.th,
.td {
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  border-collapse: separate;
  border: 5px solid #feb300;
  background-color: whitesmoke;
}
